Options -Indexes
DirectoryIndex index.php
SetEnv DATA_DIRECTORY data/
SetEnv PHOTO_ROTATE 179.5
SetEnv PHOTO_CROP_X 1184#539 
SetEnv PHOTO_CROP_Y 381#558
SetEnv PHOTO_CROP_W 2132#675
SetEnv PHOTO_CROP_H 1162#420
#NEX5R or QX10
SetEnv CAMERA NEX5R
